.main__wrapper {
padding:0px 0px 0px 0px;
display:flex;
flex-direction:column;
justify-content: center;
height:100%;
background: linear-gradient(4deg, rgba(14,196,130,1) 0%, rgba(155,255,182,1) 67%);
}