.services {
background: #e2ecf4;
margin:10px 0 0 0;
height:120%;
cursor:default;

  &__top {
   height:90px;
   padding:0 23px;
   border-bottom: 2.5px solid #d3e4ef;
   position:relative;
  }
  
  &__mode {
   display:flex;
   justify-content:center;
   align-items:center;
   position:absolute;
   right:6%;
   font-size:12px;
   top:11%; 
   cursor:pointer;
   color:rgb(136,163,186);
    & div {
        width:25px;
        height:25px;
    }

    & img {
        width:100%;
        height:100%;
        object-fit:cover;
    }
  }

  &__title {
   padding:10px 0 0 0;
   font-size:22px;
   font-weight:600;
   letter-spacing:0.3px;
  }

  &__input{ 
    padding:10px 0 0 0;
    & input {
        width:96%;
        height:30px;
        border-radius:6px;
        padding:0 0 0 15px;
    }
    & input::placeholder {
        font-size:12px;
        font-weight:400;
    }
    & input::placeholder::before {
        content: 'sss';
        display:block;
    }
  }

  &__tags {

  }

  &__list{
    list-style:none;
    font-size:17px;
    font-weight:600;
    color:rgba(0,0,0,0.9);
    padding:0 23px;

    & li {
        display:block;
        padding:17px 0 17px 0;
        border-bottom: 2.5px solid #d3e4ef;
        position:relative;
    }
    & span:nth-child(1) {
        display:block;
        width:24px;
        height:24px;
        position:absolute;
        left:0;
        top:10px;
    }
    & span:nth-child(1) img {
        width:100%;
        height:100%;
        object-fit:cover;
    }
    & span:nth-child(2) {
        padding:0 0 0 35px; 
    }
  }
    
   &__blocks {
       display:flex;
       flex-wrap:wrap;
  

       & li {
           width:49.5%;
           font-size:13px;
       }

       & li:nth-child(2n){
           border-left:2.5px solid #d3e4ef;
       }

       & span:nth-child(1){
           width:21px;
           height:21px;
           top:13px;
           left:5px;
       }
   }
}



.services__background {
display:flex;
flex-direction:column;
justify-content: center;
height:100%;
background: #c5d9e9;
}